$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;

$neon-green-light: #8deb00;
$neon-blue-light: #18ebf0;
$white-grey:  #f6f7f2;
$dark-blue: #1d213f;

@mixin for-phone-only {
  @media screen and (max-width: 599px) { @content; }
}
@mixin for-phone-landscape-only {
  @media screen and (max-width: 900px) and (orientation: landscape) { @content; }
}
@mixin for-tablet-portrait-up {
  @media screen and (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media screen and (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media screen and (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media screen and (min-width: 1800px) { @content; }
}

$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
$easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);

$hand-translate-x: 1.2vh;
$hands-transition-duration: 1.2s;
$hands-transition-easing: cubic-bezier(0.5, 1, 0.89, 1);